input[type="button"]:not(.default), input[type="submit"]:not(.default) {
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    -webkit-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease, -webkit-box-shadow 0.2s ease;
    -moz-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease, -moz-box-shadow 0.2s ease;
    -o-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
    transition: color 0.2s ease, border 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    margin: 0 7px;
    display: inline-block;
    min-width: 144px;
    max-width: 100%;
    padding: 15px 25px;
    font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    background-color: steelblue;
    color: #ddd;
}
.form {
    zoom: 1;
    display: block;
    width: auto;
    padding: 25px 0 0;
}
.form:before,
.form:after {
    content: "";
    display: table;
}
.form:after {
    clear: both;
}
.form .form-group {
    zoom: 1;
    position: relative;
    margin-bottom: 25px;
}
.form .form-group:before,
.form .form-group:after {
    content: "";
    display: table;
}
.form .form-group:after {
    clear: both;
}
.form .form-group:after {
    content: '';
    display: block;
    clear: both;
}
.form .form-group[class*="col-"] input[type=text],
.form .form-group[class*="col-"] input[type=email],
.form .form-group[class*="col-"] input[type=password] {
    display: inline-block;
    width: 100%;
    min-width: 0;
    max-width: 100%;
}
.form .form-control {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    font-size: 17px;
    font-weight: 300;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    border-top-color: #d7d7d7;
    border-right-color: #d7d7d7;
    border-bottom-color: #d7d7d7;
}
input[type=text],
input[type=email],
input[type=password] {
    -webkit-transition: color 0.2s ease, background 0.3s ease;
    -moz-transition: color 0.2s ease, background 0.3s ease;
    -o-transition: color 0.2s ease, background 0.3s ease;
    transition: color 0.2s ease, background 0.3s ease;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #8d8d8d;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    border-top-color: #d7d7d7;
    border-right-color: #d7d7d7;
    border-bottom-color: #d7d7d7;
    outline: none;
}
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover {
    color: #000000;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
    border-left-color: steelblue;
}
.well h3 {
    text-shadow: -1px -1px #FFF, -2px -2px #FFF, -1px 1px #FFF, -2px 2px #FFF, 1px 1px #FFF, 2px 2px #FFF, 1px -1px #FFF, 2px -2px #FFF, -3px -3px 2px #BBB, -3px 3px 2px #BBB, 3px 3px 2px #BBB, 3px -3px 2px #BBB;
    color: steelblue;
    transition: all 1s;
}


.btn {
    margin: 5px;
}

.btn-circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    /*background-image: url("./images/witcher.jpg");*/
    background: #000000 url("./images/witcher.jpg") no-repeat center center;

    /* Full height */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

    /* Center and scale the image nicely */
    background-size: cover;
}

#levelOne{
    margin: 50px 0px 0px 0px;
}
.btn-levelOne1{
    margin: 20px 0px 0px 0px;
}

.btn-levelOne2{
    margin: 20px 0px 0px 0px;
}



.btn-levelTwo1{
    margin: 20px 20px 20px 20px;
}

.btn-levelTwo2{
    margin: 10px 50px 10px 50px;

}


.btn-levelThree1{
    margin: 100px 50px 10px 50px;
}
.btn-levelFour1{
    margin: 20px 0px 0px 0px;
}
.btn-levelFive1{
    margin: 20px 0px 0px 0px;
}
.btn-levelSix1{
    margin: 20px 0px 0px 0px;
}



.top-panel {
    background: #4682B4;
    position: fixed;
    transition: 0.35s;
    top: -300px;
    height: 300px;
    padding: 0;
    border-radius: 0 0 10px 10px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    z-index: 1;
}
/* Блок сообщения */
.message {
    color: #fff;
    font-weight: 300;
    position: relative;
    padding: 2em;
    margin: 0 auto;
    /*max-width: 980px*/
}
/* Заголовок 1 уровня */
.message h1 {
    color: #fff
}
/* Заголовок 2 уровня */
.message h2 {
    color: #888
}

/* Переключатель панели */
.btn-specifications {
    display: block;
    position: absolute;
    right: 10px;
    top: 300px;
    cursor: pointer;
    background: #4682B4;
    border-radius: 0 0 15px 15px;
    padding: 8px 16px;
    color: #fff;
    font-size: 100%;
    line-height: 1em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 9999;
}

/* Переключатель при наведении */
.btn-specifications:hover {
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
    text-decoration: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: blanchedalmond;
}

.openPanel {
    top: 0;
    transition: all .3s;
}
.down{
    top: 300px;
    /*не работает */
    transition: all .9s;
}

.btn-from-auth{
    transition: color 0.2s ease, border 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    margin: 0 7px;
    display: inline-block;
    min-width: 144px;
    max-width: 100%;
    padding: 15px 25px;
    font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    background-color: steelblue;
    color: #ddd;
    border-radius: 3px;
    background-clip: padding-box;
}
.button-orange {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: 50px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button-orange:hover {
    text-decoration: none;
}
.button-orange:active {
    position: relative;
    top: 1px;
}
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.auth-header {
    color: #ffffff;
}
.link-quest {
    color: blanchedalmond;
}
.link-quest:hover {
    color: #ffffff;
}
.auth-quest {
    border: solid 2px #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}